<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.neo.tolldemoperso"
    android:versionCode="4"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/neology_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="c.neo.tolldemoperso.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="app/c.neo.tolldemoperso" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoTagActivity"
            android:label="@string/title_activity_recharge"
            android:parentActivityName="c.neo.tolldemoperso.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.neo.tolldemoperso.MenuPersoActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.MenuPersoActivity"
            android:label="@string/title_activity_menu_perso" >
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoParkingActivity"
            android:label="@string/title_activity_perso_parking"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.neo.tolldemoperso.MenuPersoActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoCedula_BOActivity"
            android:label="@string/title_activity_perso_cedula__bo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoFroovieActivity"
            android:label="@string/title_activity_perso_froovie"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoLicense_CIActivity"
            android:label="@string/title_activity_perso_license__ci" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoOcesaDemoActivity"
            android:label="@string/title_activity_perso_ocesa_demo"
            android:parentActivityName="c.neo.tolldemoperso.MenuPersoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.neo.tolldemoperso.MenuPersoActivity" />
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoSkiDataActivity"
            android:label="@string/title_activity_perso_ski_data" >
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoTarjetaCirculacionECActivity"
            android:label="@string/title_activity_perso_tarjeta_circulacion_ecu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoTLRequisicionActivity"
            android:label="@string/title_activity_perso_tlrequisicion" >
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoEC_ArmasActivity"
            android:label="@string/title_activity_perso_ec__armas"
            android:parentActivityName="c.neo.tolldemoperso.MenuPersoActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.neo.tolldemoperso.MenuPersoActivity" />
             <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.PersoCedula_NEOActivity"
            android:label="@string/title_activity_perso_neo_cedula"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="c.neo.tolldemoperso.PersoPoliza_MetlifeActivity"
            android:label="@string/title_activity_perso_neo_cedula"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="c.neo.tolldemoperso.PersoBO_Auto_Activity"
            android:label="@string/title_activity_perso_bo_auto"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="c.neo.tolldemoperso.PersoCombustible_EC_Activity"
            android:label="@string/title_activity_perso_bo_auto"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="c.neo.tolldemoperso.PersoFidelity_Card"
            android:label="FIDELITY CARD"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="c.neo.tolldemoperso.PersoTitulos"
            android:label="TITULOS"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="c.neo.tolldemoperso.Perso_UMSA_ID"
            android:label="Umsa"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="c.neo.tolldemoperso.Perso_Validacion_Placas"
            android:label="Engomado"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="c.neo.tolldemoperso.Perso_Parki"
            android:label="Parquimetros"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="c.neo.tolldemoperso.Perso_Brasil"
            android:label="Mercosur"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>